nav {
    border: 2px solid blue;
    display: flex;
}

nav ul {
    padding: 0 0.5rem;
    width: 100%;
    border: 2px solid hotpink;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
}

nav ul a {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 1rem;
}