body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #151922;
    overflow-x: hidden;
}

.background-gradient {
    border: 1px solid #151922;
    max-width: 100%;
    height: 100%;
    position: relative;
    /* background: radial-gradient(circle, rgba(87, 199, 137, 1) 20%, rgba(18, 31, 23, 0.8) 80%); */
    background: repeating-radial-gradient(ellipse at center,
            rgba(209, 127, 44, 1) 0%,
            rgba(215, 170, 67, 1) 15%,
            rgba(243, 242, 214, 1) 25%,
            rgba(235, 235, 181, 1) 35%,
            rgba(208, 220, 136, 1) 45%,
            rgba(179, 197, 89, 1) 50%,
            rgba(134, 161, 48, 1) 60%,
            rgba(95, 95, 35, 1) 70%,
            rgba(59, 44, 21, 1) 80%);
    background-size: 400% 300%;
    animation: gradient 25s linear infinite;
}

@keyframes gradient {
    0% {
        background-position: 50% 0%;
    }

    5% {
        background-position: 40% 10%;
    }

    10% {
        background-position: 30% 20%;
    }

    15% {
        background-position: 20% 30%;
    }

    20% {
        background-position: 10% 40%;
    }

    25% {
        background-position: 0% 50%;
    }

    30% {
        background-position: 10% 60%;
    }

    35% {
        background-position: 20% 70%;
    }

    40% {
        background-position: 30% 80%;
    }

    45% {
        background-position: 40% 90%;
    }

    50% {
        background-position: 50% 100%;
    }

    55% {
        background-position: 60% 90%;
    }

    60% {
        background-position: 70% 80%;
    }

    65% {
        background-position: 80% 70%;
    }

    70% {
        background-position: 90% 60%;
    }

    75% {
        background-position: 100% 50%;
    }

    80% {
        background-position: 90% 40%;
    }

    85% {
        background-position: 80% 30%;
    }

    90% {
        background-position: 70% 20%;
    }

    95% {
        background-position: 60% 10%;
    }

    100% {
        background-position: 50% 0%;
    }
}


nav {
    border: 2px solid blue;
    display: flex;
}

nav ul {
    padding: 0 0.5rem;
    width: 100%;
    border: 2px solid hotpink;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
}

nav ul a {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 1rem;
}

/* Profile */

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}

.profile-img-section {
    width: 90%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.profile-img-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.profile-img-section img {
    height: auto;
    max-width: 150%;
    margin-left: -40%;
    margin-top: -35%;

}

.korean-name {
    color: #B21F1E;
    opacity: 0.8;
    padding: 0;
    margin: 0;
    font-family: "East Sea Dokdo", Arial, Helvetica, sans-serif;
    writing-mode: vertical-rl;
    letter-spacing: 2rem;
    position: absolute;
    font-size: 6rem;
    align-self: flex-end;


}

h1 {
    border: 1px solid blue;
    position: absolute;
    margin: 0 auto;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

/* Dialog */
dialog {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

dialog:not(:target):not([open]) {
    display: none;
}

/* Projects */
.projects {
    display: flex;
    flex-direction: column;
}

.project-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-card {
    border: 2px solid purple;
}