.background-gradient {
    border: 0.1px solid #FBFAF5;
    max-width: 100%;
    height: 100%;
    position: relative;
    /* background: radial-gradient(circle, rgba(87, 199, 137, 1) 20%, rgba(18, 31, 23, 0.8) 80%); */
    background: repeating-radial-gradient(ellipse at center,
            rgba(209, 127, 44, 1) 0%,
            rgba(215, 170, 67, 1) 15%,
            rgba(243, 242, 214, 1) 25%,
            rgba(235, 235, 181, 1) 35%,
            rgba(208, 220, 136, 1) 45%,
            rgba(179, 197, 89, 1) 50%,
            rgba(134, 161, 48, 1) 60%,
            rgba(95, 95, 35, 1) 70%,
            rgba(59, 44, 21, 1) 80%);
    background-size: 400% 300%;
    animation: gradient 25s linear infinite;
}

/* Profile */

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin-bottom: 15%;
}

.profile-dimension {
    display: flex;
    width: 90%;
}

.profile-img-section {
    flex-direction: column;
    overflow: hidden;
    height: 50%;
}

.profile-img-section img {
    max-width: 120%;
    margin-left: -40%;
    margin-top: -35%;
}

.korean-name {
    color: #ECA51B;
    opacity: 0.8;
    padding: 0;
    margin: 0;
    font-family: "East Sea Dokdo", Arial, Helvetica, sans-serif;
    letter-spacing: 12vw;
    position: absolute;
    font-size: 20vw;
    right: -1.5rem;
    bottom: 2rem;
}

.deco-text {
    color: #ECA51B;
    opacity: 0.8;
    padding: 0;
    padding-left: 1rem;
    margin: 0;
    font-size: 3vw;
    letter-spacing: 3vw;
    position: absolute;
    top: 2vw;
}

.vertical-h3 {h1
    font-size: 3vw;
    height: 100%;
    top: 9vw;
    right: 4vw;
    writing-mode: vertical-lr;
}

.fake-h1 {
    color: #151922;
    font-size: 8vw;
    font-weight: 900;
    text-transform: uppercase;
    position: absolute;
    margin: 0 auto;
    text-transform: uppercase;
    align-self: center;
    bottom: 2rem;
    animation: slide-in 2s ease forwards;
}

h1 {
    display: none;

}

.profile-about-section {
    flex-direction: column;
    line-height: 1.7rem;
    font-size: 1rem;
    letter-spacing: 0.2rem;
}

.profile-about-section p {
    margin: 1.5rem 0;
}

/* Move to Media  */
/* .to-cv-btn:hover {
    cursor: pointer;
    animation: expandBtn 800ms forwards;
} */

.to-cv-btn:active {
    border: 2px solid #ECA51B;
}

/* Dialog */
dialog {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    color: #FBFAF5;
    border: 2px solid #151922;
}

dialog:not(:target):not([open]) {
    display: none;
}

.dialog-img {
    width: 100%;
    height: auto;
}

/* Projects */
.projects {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.project-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-card {
    border: 2px solid #ECA51B;
    display: flex;
    flex-direction: column;
    height: 60vw;
    margin-top: 10%;
    width: calc(50% - 5%);
}

.project-link-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.project-open-dialog {
    margin-top: auto;
    padding: 2% 5%;
}

.upper-text-container * {
    margin: 0;
    padding: 5% 3%;
    font-size: 0.9rem;

}

.project-card,
.project-card a,
.project-card h3,
.project-card p {
    padding: ;
    color: #151922;
    background-color: #FBFAF5;
}

.project-card a {
    align-self: flex-end;
}

.projects-title {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin: 0;
    border-top: 1px solid #ECA51B;
    border-bottom: 1px solid #ECA51B;
}


.project-open-dialog {
    margin-top: auto;
    text-decoration: underline;
}

.project-card-blur {
    box-shadow: 20px 20px 100px #FBFAF5 inset;
}

.project-card-one {
    background-image: url(../img/non-ness-one.png);
    background-size: contain;
}

/* Media Query */
@media only screen and (min-width: 768px) {
    /* Profile */

    .profile {
        height: auto;
        margin: 5% 5% 15%;
        flex-direction: row;
        align-items: flex-start;
    }

    .profile-img-section {
        max-height: 50vw;
        flex-direction: column;
        overflow: hidden;
        height: 50%;
    }
    
    .korean-name {
        letter-spacing: 10vw;
        font-size: 9vw;
    
    }

    .deco-text {
        font-size: 2.5vw;
        letter-spacing: 1vw;
    }

    .vertical-h3 {
        font-size: 2.5vw;
    }

    h1 {
        display: inline-block;
        letter-spacing: 1rem;
        font-size: 2rem;
        margin-top: 5%;
        padding-left: 5%;
        animation: slide-in 2s ease forwards;
    }

    .fake-h1 {
        font-size: 4vw;
        font-weight: 200;
        animation: none;
    }
    .profile-about-section {
        padding-left: 2rem;
    }

    .profile-about-section p {
        margin: 1.5rem 0;
    }

    .to-cv-btn:hover {
    cursor: pointer;
    animation: expandBtn 800ms forwards;
}
 

/* Projects */

.project-card-container {
    flex-wrap: nowrap;
    justify-content: space-between;
}

.project-card {
    height: 30vw;
    margin-top: 10%;
    width: calc(25% - 3%);
   
}

}