main {
    border: 1px solid salmon;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-project-container {
    margin: 10% 5%;
}

.project-img-container {
    width: 90vw;
    height: 40vw;
    background-image: url(../img/blurry.JPG);
    background-size: cover;
}