body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FBFAF5;
    overflow-x: hidden;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

h1 {
    color: #151922;
    font-size: 8vw;
    text-transform: uppercase;
}

a {
    text-transform: uppercase;
    text-decoration: none;
    color: #151922;
}

.noise {
    background-image: url(../img/noise.png);
}

button {
    border: 1px solid #151922;
    width: 40%;
    margin: 0 auto;
    padding: 1rem;
    background: none;
}

/* Footer  */

footer {
    display: flex;
    justify-content: space-evenly;
    margin: 20% 0 5%;
}

/* Nav  */

nav {
    display: flex;
    justify-content: center;
}


nav ul {
    padding: 0 0.5rem;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
    list-style-type: none;
}

nav ul a {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 1rem;
}

.active-nav {
    padding: 1px;
    border-bottom: 2px solid #ECA51B;
}

